/* Write your CSS code here */
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-image-sm {
  width: 60%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.home-image-lg {
  display: none;
}
.heading {
  text-align: center;
  font-family: 'Roboto';
  font-size: 34px;
  color: #1e293b;
}
.home-para {
  text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  color: #64748b;
  margin-bottom: 7%;
}
.shop-now-button {
  background-color: #0967d2;
  color: white;
  border: none;
  height: 35px;
  width: 160px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .home-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  .home-image-sm {
    display: none;
  }
  .home-image-lg {
    display: block;
    width: 43%;
  }
  .shop-now-button {
    height: 37px;
    width: 135px;
  }
  .details {
    width: 43%;
    align-items: flex-start;
  }
  .home-para {
    text-align: start;
  }
  .heading {
    text-align: start;
  }
}
